.contact-details-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #130f2a;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    width: 100px; /* Fixed width for each card */
    height: 100px; /* Fixed height for each card */
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .contact-details-card:hover {
    transform: translateY(-5px);
    background-color: #1a1440;
  }
  
  .contact-details-card .icon img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .contact-details-card {
      width: 120px;
      height: 120px;
      margin-bottom: 1rem; /* Reduced bottom margin for tighter spacing */
    }
  
    .contact-details-card .icon img {
      width: 40px;
      height: 40px;
    }
  }
  